Meta
doc

# Mac OS X
.DS_Store

# R session
.Rhistory
.Rapp.history
.RData
.Rproj.user

# versioning
revdep
CRAN-RELEASE

# sandbox
sandbox

# rsconnect directories from Shiny app deployment
rsconnect/
/doc/
/Meta/
